# Ignorados de git hub por seguridad
# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Editor / IDE settings
.vscode/
.idea/

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Ruff / lint cache
.ruff_cache/

# Build artifacts
build/
dist/
*.egg-info/

# System files
.DS_Store
Thumbs.db
